/* 
pink rgb(224, 36, 113)
blue rgb(35, 105, 193)
*/

html {
    background: url(../img/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div form {
    position: absolute;
    top: 30%;
}

.login,
.register {
    display: none;
    background-color: white;
    padding: 2.5rem 1.875rem 1.875rem 1.875rem;
    border-radius: 10px;
    width: 25rem;
}

.login {
    left: 5%;
    box-shadow: 5px 10px 10px rgba(224, 36, 113, 1);
}

.register {
    right: 5%;
    box-shadow: -5px 10px 10px rgba(35, 105, 193, 1);
}

.login::before,
.login::after,
.register::before,
.register::after {
    content: '';
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}

.login::before {
    left: 3%;
}

.login::after {
    left: 5%;
}

.login input,
.register input {
    display: inline;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    border: 0;
    padding: 10px 10px;
    margin: 15px;
}

.login input.submit,
.register input.submit {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 90px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
}

.login input.submit {
    background-color: rgba(224, 36, 113, 1);
}

.register input.submit {
    background-color: rgba(35, 105, 193, 1);
}

.login input.submit:hover {
    background-color: rgba(210, 30, 100, 1);
}

.register input.submit:hover {
    background-color: rgba(35, 95, 180, 1);
}

.show-login,
.show-register {
    position: absolute;
    display: inline-block;
    top: 30%;
}

span i.show-login {
    color: rgba(224, 36, 113, 1);
    left: 5%;
}

span i.show-register {
    color: rgba(35, 105, 193, 1);
    right: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252525;
    color: white;
    text-align: center;
}

.has-error {
    box-shadow: 2px 2px 2px rgba(224, 36, 113, 1);
}